*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
    position: fixed;
    top:0;
    z-index: 1;
  }
  
  .progress-bar {
    height: 8px;
    background:rgb(133, 100, 211);;
    width: 0%;
    position: fixed;
  }
  

/*NAVIGATION MENU STYLING*/

.nav-menu{
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: fixed;
    top:0;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    width: 100%;
    line-height: 50px;
}

ul{
    list-style-type: none;
    margin-right: 3%;
    margin-top: 1%;
}

.checkbtn{
    float: right;
    font-size: 30px;
    color:black;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

.title{
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 10px;
    float: left;
    color: rgb(133, 100, 211);
    padding-top: 10px;
}

a{
    text-decoration: none;
    color:rgb(22, 21, 21);
    margin-left: 2em;
    float: right;
    font-size: 1em;
    letter-spacing: 3px;
}


@media screen and (max-width:950px){
    .title{float: left; font-size: 2em;}
    ul>li>a{letter-spacing: 1px;}
}

@media screen and (max-width:750px){
    .title{
        float: left; 
        font-size: 3em; 
    }
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed; 
        width: 100%; 
        height: 30em; 
        top:80px; 
        right:100%; 
        transition: all .5s;
        background-color: rgb(133, 100, 211);
        margin-top: 0;
        margin-right:0;
        display: block;
    }
    .nav-menu ul li{
        display: block;
        text-align: center;
        padding-top: 5%;
    }
    .nav-menu ul li a{
        font-size: 2.2em;
        float: none;
        text-align: center;
        margin: 0;
        color: white;
    }
    #check:checked ~ ul{
        right: 0;
    }
}

@media screen and (max-width:446px){
    .title{font-size: 1.7em;}
}

@media screen and (max-width:1100px){
    .picture-details{margin-top: 12%;}
}

@media screen and (max-width:740px){
    .picture-details{margin-top: 15%;}
}

@media screen and (max-width:612px){
    .picture-details{margin-top: 15%;}
}

@media screen and (max-width:350px){
    .picture-details{margin-top: 18%;}
}




/*ABOUT ME STYLING*/

.about-me{
    overflow: hidden;
    background-color: white;
}

.about-me h3{
    text-align: center;
    font-size: 2em;
    padding-top: 3em;
    letter-spacing: 10px;
    padding-bottom: 2em;
}
.picture-details>img{
    border-radius: 50%;
    height: auto;
    width: 25em;
    overflow: hidden;
    float: left;
}

.picture-details img:hover{
  scale: 1.05;
  transition: ease 1s;
}

.picture-details{
    width: 50%;
    float: left;
}

.picture-details>h2{
    text-align: center;
}
.about-me-text{
    font-size: 1em;
    text-align: left;
    width: 45%;
    float: right;
    margin-right: 2%;
}

.about-me-text p{
    background-color: white;
    border-radius: 5%;
    padding-left: 25px;
    text-align: justify;
    padding-right: 25px;
}

@media screen and (max-width: 1100px){
    .picture-details img{height:auto;}
    .picture-details{width: 100%; }
    .picture-details h2{text-align: center; margin-left:0%; font-size: 2.3em;}
    .about-me-text{display: block; width: 95%; text-align: center; margin-right: 2.5%;}
}

@media screen and (max-width: 675px){
  .picture-details img{width: 40%; height:auto;}
  .picture-details h2{font-size: 1.3em;}
  .about-me-text{font-size:1em;}
}

@media screen and (max-width: 290px){
  .about-me h3{padding-top:40%}
  .title{letter-spacing: 0em;}
  .picture-details h2{font-size: 1em;}
}

.three-pictures{
    margin-top: 5%;
    overflow: hidden;
}

.three-pictures img{
    width: 50%;
    height: auto;
    float: right;
    overflow: hidden;
}

.three-pictures p{
    font-size: 1.5em;
    text-align: center;
    float: left;
}
.three-pictures-text{
    float: left;
    width: 47%;
    background-color: white;
    border-radius: 10%;
    margin-left: 2%;
}

.three-pictures-text p{
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (max-width:600px){
    .three-pictures-text{display: block; width: 100%; float: left; }
    .images-container{display: block; width: 100%; float: right;}
}

@media screen and (max-width:817px){
    .three-pictures img{display: block; width: 80%; float: left; margin-left: 10%;}
    .three-pictures-text{display: block; width: 100%; float: right; text-align: center; margin-top: 5%;}
}
/*SKILLS STYLING*/

.skills{
    margin-top: 1%;
    overflow: hidden;
    background-color: rgb(245, 245, 245);
}

#skills{
    text-align: center;
    font-size: 2em;
    letter-spacing: 10px;
    padding-top: 50px;
    color: rgb(0, 0, 0);
    padding-bottom: 20px;
    
}

.skills p{
    font-size: .8em;
    text-align: justify;
    padding-right: 2%;
    border-radius: 10%;
}
.container-skills{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1em;
    padding: 1rem 80px;
    font-size: 1.2rem;
  }

.skill-box{
    padding: 1rem;
    cursor: pointer;

  }

  .skill-box:hover > .skill-title:after, .skill-box:hover > .skill-title::before{
    width: 35px;
  }

  .skill-box:hover .img{
    transform: translateY(-10px);
  }

.skill-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
  }

  .skill-title:hover{
    transform: scale(1.25,1.25);
    transition: .8s;
  }


.skill-title h3{
    margin: 0.5rem;
  }




.skill-icon{
    width: 50px;
  }
.skill-img{
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
  }

@media screen and (max-width:990px){
    .container-skills{
      grid-template-columns: repeat(2, 1fr);
      padding: 2rem 50px;
    }
  }

  
@media screen and (max-width:650px){
    .container-skills{
      grid-template-columns:1fr;
    }
  }

  /*SERVICES STYLING*/

  #services-title{
    font-size: 2em;
    text-align: center;
    letter-spacing: 10px;
    padding-top:30px;
}

  .services{
      overflow: hidden;
      padding-top: 5%;
      display: flex;
      flex-wrap: wrap;
      padding-bottom:75px;
      width:95%;
      padding-left:2.5%;
  }

  .flip-card {
    background-color: transparent;
    width: 25em;
    height: 15em;
    perspective: 1000px;
    margin-left: 3%;
    overflow: hidden;
    text-align: center;
    flex: 21%;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    vertical-align: middle;
  }
  
  .flip-card-front {
    background-color: rgb(133, 100, 211);
    color: black;
    text-align: center;
  }

  .flip-card-front h1{
    position: absolute;
    text-align: center;
    font-family: cursive;
    left:25%;
  }

  .flip-card-front img{
      height: 100%;
      width: 100%;
  }
  
  .flip-card-back p{
      font-size: 1em;
      font-family: fantasy;
      position: absolute;
      margin: 0;
      top:10%;
      width: 90%;
      padding-left:5%;
      text-align: center;
  }
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }
  

  @media screen and (max-width:1100px){
      .flip-card{flex: 45%; margin-top: 3%;}
      .flip-card-inner{width:70%; height: 80%;}
  }

  @media screen and (max-width:550px){
      .flip-card{flex: 50%; margin-left: 10%;}
  }

  @media screen and (max-width:300px){
    .flip-card-back p{font-size: 0.9em;}
}
  
  /*PROJECTS STYLING*/

  #projects{
    font-size: 2em;
    text-align: center;
    letter-spacing: 10px;
    display: block;
    background-color: #eef8ff;
    padding-top:50px;
  }

  .projects p{
    font-size: 1.5em;
    text-align: center;
    float: left;
    width: 95%;
    margin-left: 2.5%;
    background-color: white;
    border-radius: 10%;
    margin-top: 3%;
  }

/*CONTACTS STYLING*/
#contacts-title{
    font-size: 2em;
    text-align: center;
    letter-spacing: 10px;
    padding-top:50px;
    color:black;
    background-color:rgb(245, 245, 245) ;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: rgb(133, 100, 211);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #0003ca63;
  }
  
  #contacts {
    border-radius: 5px;
    background-color:rgb(245, 245, 245);
    width: 100%;
    color: white;
    padding-bottom:100px;

  }

  #contacts form{
    width: 90%;
    padding-left: 10%;
    padding-top:3%;

  }
 
  #contacts form label{
    color:black;
  }





  /* Position the image container (needed to position the left and right arrows) */
.slideshow-container {
    position: relative;
    width: 100%;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom:75px;
    background-color: #eef8ff;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    width: 85%;
    padding-left:10%
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 55%;
    width: auto;
    padding: 16px;
    margin-top: -125px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    margin-left: 0;
    color: red;
  }

  .prev{
    margin-left:10%
  }

  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    margin-right: 15%;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .numbertext img{
    height:170px;
    width:auto;/*maintain aspect ratio*/
    max-width:500px;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
    height: 4em;
    margin-top: 1%;
  }

  #caption{
      color: white;
  }
  .mySlides p{
      font-size: 1.2rem;
      color: black;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
      border-radius: 20px;
      margin-top: 1%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
@media screen and (max-width:631px){
  .mySlides{width: 95%; padding-left:5%;}
  .slideshow-container{padding: 0; width: 100%; padding-bottom: 75px;}
  .prev{margin-left:0; padding-left:50px}
  .next{margin-right: 0; padding-right: 50px;}  
}

/*FOOTER STYLING*/

.footer{
  bottom: 0%;
  background-color: rgb(133, 100, 211);
  position: relative;
  height: 100px;
}

.mail-phone{
  float: left;
  padding-top:25px;
}

.footer h6{
  color:white;
  line-height: 1.5;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

#footer-h6{
  color:white;
  line-height: 1.5;
  letter-spacing: 1px;
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
  float: none;
  font-weight: bold;
}

#footer-h6:hover{
  animation: none;
}

.social-media{
  display: inline-flex;
  float: right;
  padding-top:10px;
  padding-right:2%;
}

@media screen and (max-width:606px){
  .mail-phone h6{line-height: 1.5; letter-spacing: 0;}
  .social-media a img{width: 50px; height: 50px; display: inline-block; float: none;}
}

@media screen and (max-width:500px){
  .mail-phone h6{line-height: 1; letter-spacing: 0; font-size: .8em; padding-top: 10px;}
  .social-media a img{width: 25px; height: 25px; display: inline-block; float: none;}
  .social-media a{vertical-align: middle;}
  #footer-h6{line-height: 1;
    letter-spacing: 0;
    font-size: .8em;
    padding-top: 10px;}

}

@media screen and (max-width:335px){
  .social-media a img{width: 25px; height: auto;}
  .mail-phone h6{font-size: .6em;}
}